<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/keyboard.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/static/images/icon.png') }}" type="image/x-icon">
</head>
<body>
    <header>
        <h1 class="logo">Encode/Decode</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('add_layout') }}">Add Layout</a>
        </nav>
    </header>

    <div class="content">

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>